<mat-card *ngIf="!edit">
  <mat-card-content>
      <p><label>interiorCode:</label> {{myData.interiorCode}} </p>
    <p><label>interiorColor:</label> {{myData.interiorColor}} </p>
    <p><label>modelID:</label> {{myData.modelID}} </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="mat-small" (click)="edit=!edit" >Edit</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="edit">
  <mat-card-content>
    <p><label>interiorCode:</label> <input [(ngModel)]="myData.interiorCode" /> </p>
    <p><label>interiorColor:</label> <input [(ngModel)]="myData.interiorColor" /> </p>
    <p><label>modelID:</label> <input [(ngModel)]="myData.modelID" /> </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" class="mat-small" (click)="updateItem(myData);edit=!edit" >Save</button>
  </mat-card-actions>
</mat-card>