<button mat-raised-button color="primary" (click)="sortExteriorColors('asc')">Exterior Colors</button>
<button mat-raised-button color="accent" (click)="sortInteriorColors('asc')">Interior Colors</button>
<button mat-raised-button color="primary" (click)="sortVehicleCodes('asc')">Vehicle Colors</button>

<h2 *ngIf="mode=='exterior'">Exterior Colors</h2>
<h2 *ngIf="mode=='interior'">Interior Colors</h2>
<h2 *ngIf="mode=='codes'">Vehicle Colors</h2>

<!-- <div *ngIf="mode=='exterior'">
  <p><label>code:</label> <input [(ngModel)]="extData.code" /></p>
  <p><label>color_id:</label> <input [(ngModel)]="extData.color_id" /></p>
  <p><label>color_label:</label> <input [(ngModel)]="extData.color_label" /></p>
  <button mat-raised-button color="primary" (click)="addExternalItem(extData)" >Save</button>
</div> -->

<mat-card *ngIf="mode=='exterior'" class="card-container" >
  <mat-card-header>
    <mat-card-title>Create New Exterior Color Code</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field><input matInput placeholder="code" [(ngModel)]="extData.code"></mat-form-field>
      <!-- <label>code:</label> <input [(ngModel)]="extData.code" /> -->
    </p>
    <p>
      <mat-form-field><input matInput placeholder="color_id" [(ngModel)]="extData.color_id"></mat-form-field>
      <!-- <label>color_id:</label> <input [(ngModel)]="extData.color_id" /> -->
    </p>
    <p>
        <mat-form-field><input matInput placeholder="color_label" [(ngModel)]="extData.color_label"></mat-form-field>
      <!-- <label>color_label:</label> <input [(ngModel)]="extData.color_label" /> -->
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addExternalItem(extData)" >Save</button>
  </mat-card-actions>
</mat-card>

<div class="card-container" *ngFor="let item of dspData;let i = index;">
    <p *ngIf="mode!='exterior' && mode!='interior'">{{ item | json }}</p>
    <app-exterior-display [myData]="item" [myID]="i"  *ngIf="mode=='exterior'"></app-exterior-display>
    <app-interior-display [myData]="item" [myID]="i"  *ngIf="mode=='interior'"></app-interior-display> 
</div>

